//Components SCSS

/*=============================================
=        Import all the scss files            =
=============================================*/

@use "components/colors";
@use "components/fonts";
@use "components/reset";
@use "components/header";
@use "components/graph";
@use "components/card";
@use "components/burgerIcon";
@use "components/blocks";

/*=====  End of imports ======*/

body {
    background-color: colors.$background-color;
    overflow-x: hidden;
}

* {
    font-family: fonts.$text-font;
}

main {
    z-index: 0;
}