/*=============================================
=        Import all the scss files            =
=============================================*/
/*=============================================
=          Defines the website's fonts        =
=============================================*/
@import url("/assets/fonts/NicoMoji-regular.ttf");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
/*=============================================
=        Some colors for the websites         =
=============================================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=============================================
=        Import all the scss files            =
=============================================*/
/*=============================================
=            SCSS for the header              =
=============================================*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  background-color: #0B192C;
}
header div,
header nav {
  width: 33.3333333333vw;
}
header .searchBarContainer {
  display: flex;
  justify-content: center;
}
header .searchBarContainer .searchBar {
  width: 20vw;
  background-color: #EFEFEF;
  height: 2.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: text;
}
header .searchBarContainer .searchBar .searchLogoSide {
  width: 12%;
  height: 70%;
  display: grid;
  place-items: center;
  border-right: 1px solid rgba(128, 128, 128, 0.548);
}
header .searchBarContainer .searchBar .searchLogoSide i {
  color: rgba(70, 70, 70, 0.781);
}
header .searchBarContainer .searchBar input {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 1rem;
  font-size: 1rem;
  width: 100%;
}
header .searchBarContainer .searchBar input::-moz-placeholder {
  color: rgb(182, 182, 182);
}
header .searchBarContainer .searchBar input::placeholder {
  color: rgb(182, 182, 182);
}
header img {
  width: 20rem;
  display: flex;
  align-self: flex-start;
  filter: drop-shadow(0px 0px 1px black);
  cursor: pointer;
}
header nav {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Lexend", sans-serif;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-content: center;
}
header nav ul li {
  margin: 0 1rem;
}
header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s;
}
header nav ul li a:hover {
  transition: all 0.3s;
  color: rgb(219, 190, 219);
}

canvas {
  height: 40vh !important;
  width: 80vh !important;
}

/*=============================================
=        Import all the scss files            =
=============================================*/
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}
.cards .cryptoCard {
  width: 70vw;
  height: 5vh;
  border: 2px solid #193253;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 5px 0 1rem;
  justify-content: space-between;
  color: #333;
}
.cards .cryptoCard * {
  cursor: default;
}
.cards .cryptoCard .names {
  display: flex;
  width: 12rem;
  justify-content: space-between;
}
.cards .cryptoCard .names .surname {
  font-size: 1.2rem;
  font-weight: bold;
}
.cards .cryptoCard .names .separator {
  height: 100%;
  width: 2px;
  background-color: #193253;
}
.cards .cryptoCard .blockchain {
  font-size: 1.6rem;
}
.cards .cryptoCard button {
  background-color: #284B79;
  border: none;
  outline: none;
  height: 80%;
  border-radius: 7px;
  padding: 0 10px;
  color: #FFFFFF;
  font-size: 1.2rem;
  cursor: pointer;
}
.cards .cryptoCard button:hover {
  background-color: #19365c;
}

/*=====  End of imports ======*/
body {
  background-color: #EFEFEF;
}

* {
  font-family: "Lexend", sans-serif;
}/*# sourceMappingURL=index.css.map */