/*=============================================
=        Import all the scss files            =
=============================================*/
/*=============================================
=          Defines the website's fonts        =
=============================================*/
@import url("/assets/fonts/NicoMoji-regular.ttf");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
/*=============================================
=        Some colors for the websites         =
=============================================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=============================================
=        Import all the scss files            =
=============================================*/
/*=============================================
=            SCSS for the header              =
=============================================*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  background-color: #0B192C;
}
header div,
header nav {
  width: 33.3333333333vw;
}
header .searchBarContainer {
  display: flex;
  justify-content: center;
}
header .searchBarContainer .searchBar {
  width: 20vw;
  background-color: #FFFCF5;
  height: 2.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: text;
}
header .searchBarContainer .searchBar .searchLogoSide {
  width: 2.5rem;
  height: 70%;
  display: grid;
  place-items: center;
  border-right: 1px solid rgba(128, 128, 128, 0.548);
}
header .searchBarContainer .searchBar .searchLogoSide i {
  color: rgba(70, 70, 70, 0.781);
}
header .searchBarContainer .searchBar input {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 1rem;
  font-size: 1rem;
  width: 100%;
}
header .searchBarContainer .searchBar input::-moz-placeholder {
  color: rgb(182, 182, 182);
}
header .searchBarContainer .searchBar input::placeholder {
  color: rgb(182, 182, 182);
}
header img {
  width: 20rem;
  display: flex;
  align-self: flex-start;
  filter: drop-shadow(0px 0px 1px black);
  cursor: pointer;
}
header nav {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Lexend", sans-serif;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-content: center;
}
header nav ul li {
  margin: 0 1rem;
}
header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s;
  background: -webkit-linear-gradient(45deg, #7987ff, #cecdff);
  -webkit-background-clip: text;
  font-size: 1.2rem;
  white-space: nowrap;
}
header nav ul li a:hover {
  color: transparent;
  transition: color 0.3s;
}

@media only screen and (max-width: 1200px) {
  .searchBar {
    width: 30vw !important;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 700px) {
  nav > ul > li > a {
    font-size: 1.5rem !important;
  }
}
@media only screen and (max-width: 1000px) {
  .searchBarContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50vw;
  }
  .searchBarContainer .searchBar {
    width: 50vw !important;
  }
  header {
    justify-content: flex-end;
    padding-left: 80vw;
  }
  .toggle {
    display: flex !important;
  }
  .logo {
    width: 5rem;
    margin: 1rem 0;
  }
  nav {
    position: fixed;
    width: 50vw !important;
    height: 100vh;
    left: -100vw;
    top: 0;
    background-color: rgba(0, 0, 0, 0.616);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    border-right: 2px solid rgb(7, 7, 53);
    z-index: 2;
    transition: all 0.4s;
  }
  nav ul {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
  }
  nav ul li {
    width: auto;
    text-align: center;
    margin: 3vh 0 !important;
  }
  nav ul li a {
    font-weight: 300;
  }
}
@media only screen and (max-width: 700px) {
  nav {
    width: 100vw !important;
  }
  nav a {
    font-size: 2rem !important;
  }
}
canvas {
  height: 40vh !important;
  width: 80vh !important;
}

/*=============================================
=        Import all the scss files            =
=============================================*/
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem 0;
  background-color: #ffffff;
  box-shadow: 0 0 3px 0 rgba(167, 167, 167, 0.445);
  width: 100vw;
  min-height: 100vh;
}
.cards article.cryptoCard:last-child {
  border-bottom: 1px solid #193253;
}
.cards h1 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.cards * {
  cursor: default;
}
.cards .cryptoCard {
  width: 60vw;
  border-top: 1px solid #193253;
  padding: 3px 5px 3px 1rem;
  color: #333;
  transition: all 0.2s;
  height: 3rem;
}
.cards .cryptoCard:hover {
  transition: all 0.2s;
  background-color: #f5f5f5;
}
.cards .cryptoCard .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.7rem;
}
.cards .cryptoCard .head * {
  width: 20%;
  text-align: center;
}
.cards .cryptoCard .head .names {
  display: flex;
  width: 8rem;
  gap: 10px;
}
.cards .cryptoCard .head .names .firstPart {
  display: flex;
  width: 3.2rem;
  justify-content: space-between;
}
.cards .cryptoCard .head .names .firstPart .surname {
  font-size: 1.2rem;
  font-weight: bold;
}
.cards .cryptoCard .head .names .firstPart .separator {
  height: 1.1rem;
  width: 2px;
  background-color: #193253;
}
.cards .cryptoCard .head .names .name {
  width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cards .cryptoCard .blockchain {
  font-size: 1.6rem;
}
.cards .cryptoCard button {
  background-color: #284B79;
  border: none;
  outline: none;
  height: 80%;
  border-radius: 7px;
  padding: 0 10px;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-family: "NicoMoji", sans-serif;
  cursor: pointer;
  width: 9rem !important;
}
.cards .cryptoCard button:hover {
  background-color: #19365c;
}

@media only screen and (max-width: 1100px) {
  .cryptoCard {
    width: 80vw !important;
  }
}
@media only screen and (max-width: 700px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    min-height: 0;
  }
  .cards h1 {
    width: 100vw;
    text-align: center;
  }
  .cards .cryptoCard {
    width: 30vw !important;
    height: 35vh !important;
    padding: 1rem 0 !important;
    min-width: 10rem;
    border: 2px solid #193253;
    border-radius: 10px;
  }
  .cards .cryptoCard:hover {
    background-color: #fff;
  }
  .cards .cryptoCard .head {
    align-items: center;
    flex-direction: column;
    height: 30vh !important;
  }
  .cards .cryptoCard .head * {
    width: auto;
  }
  .cards .cryptoCard .head button {
    height: 2.5rem !important;
    transition: all 0.2s;
    width: 70% !important;
  }
  .cards .cryptoCard .head .names {
    width: 100% !important;
    justify-content: center;
  }
  .cards .cryptoCard .head .names .name {
    min-width: 4rem;
    max-width: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
#checkbox {
  display: none;
  z-index: 3;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
  position: absolute;
  left: 2rem;
  z-index: 3;
  display: none;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1, #bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

.blocks {
  height: 50vh;
  width: 100vw;
  min-height: 30rem;
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
  transition: all 0.2s;
}
.blocks .trending {
  width: 20rem;
  height: 25rem;
  background-color: #fff;
  box-shadow: 2px 2px 4.5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
.blocks .trending h1 {
  font-size: 1.8rem;
  font-weight: 300;
}

/*=====  End of imports ======*/
body {
  background-color: #FFFCF5;
  overflow-x: hidden;
}

* {
  font-family: "Lexend", sans-serif;
}

main {
  z-index: 0;
}/*# sourceMappingURL=index.css.map */