@use "colors";

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;

    .cryptoCard {
        width: 70vw;
        height: 5vh;
        border: 2px solid #193253;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        justify-content: space-between;

        .names {
            display: flex;
            width: 7rem;
            justify-content: space-between;

            .surname {
                font-size: 1.2rem;
                font-weight: bold;
            }

            .separator {
                height: 100%;
                width: 2px;
                background-color: #193253;
            }
        }

        .blockchain {
            font-size: 1.6rem;
        }
    }
}