@use "colors";
@use "fonts";

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem 0;
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 rgba(167, 167, 167, 0.445);
    width: 100vw;
    min-height: 100vh;

    & article.cryptoCard:last-child {
        border-bottom: 1px solid #193253;
    }

    h1 {
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 1.5rem;
    }

    * {
        cursor: default;
    }

    .cryptoCard {
        width: 60vw;
        border-top: 1px solid #193253;
        padding: 3px 5px 3px 1rem;
        color: colors.$textBlack;
        transition: all 0.2s;
        height: 3rem;

        &:hover {
            transition: all 0.2s;
            background-color: #ececec;
        }

        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 2.7rem;

            * {
                width: 20%;
                text-align: center;
            }

            .names {
                display: flex;
                width: 8rem;
                gap: 10px;

                .firstPart {
                    display: flex;
                    width: 3.2rem;
                    justify-content: space-between;

                    .surname {
                        font-size: 1.2rem;
                        font-weight: bold;
                    }

                    .separator {
                        height: 1.1rem;
                        width: 2px;
                        background-color: #193253;
                    }
                }

                .name {
                    width: 50%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }

        .blockchain {
            font-size: 1.6rem;
        }

        button {
            background-color: #284B79;
            border: none;
            outline: none;
            height: 80%;
            border-radius: 7px;
            padding: 0 10px;
            color: colors.$white;
            font-size: 1.2rem;
            font-family: fonts.$title-font;
            cursor: pointer;
            width: 9rem !important;

            &:hover {
                background-color: #19365c;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .cryptoCard {
        width: 80vw !important;
    }
}

@media only screen and (max-width: 700px) {
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        min-height: 0;

        h1 {
            width: 100vw;
            text-align: center;
        }

        .cryptoCard {
            width: 30vw !important;
            height: 35vh !important;
            padding: 1rem 0 !important;
            min-width: 10rem;
            border: 2px solid #193253;
            border-radius: 10px;

            &:hover {
                background-color: #fff;
            }

            .head {
                align-items: center;
                flex-direction: column;
                height: 30vh !important;

                * {
                    width: auto;
                }

                button {
                    height: 2.5rem !important;
                    transition: all 0.2s;
                    width: 70% !important;
                }

                .names {
                    width: 100% !important;
                    justify-content: center;

                    .name {
                        min-width: 4rem;
                        max-width: 7rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                }
            }
        }
    }
}