
/*=============================================
=        Some colors for the websites         =
=============================================*/





$background-color: #FFFCF5;
$darkBlue: #0B192C;

$white: #FFFFFF;
$black: #000000;
$textBlack: #333;